<nz-upload [nzBeforeUpload]="fileChange" [nzShowUploadList]="false">

  <button nz-button nzType="primary"  class="ml-1" nz-tooltip
          nzTooltipTitle="upload survey from Excel File">
<!--    <button nz-button nzType="primary">Add survey</button>-->
    Add survey

    <i nz-icon nzType="file-excel" nzTheme="outline"></i>
  </button>
</nz-upload>
<br>
<br>
<p-table [value]="listOfData" [paginator]="true" [rows]="10">
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 20%">Template Name</th>
      <th>Loaded on</th>
      <th>Loaded By</th>
      <th>Status</th>
      <th>Reload</th>
      <th>Download</th>
      <th>Action</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-data>
    <tr>
      <td>{{ data.templateName }}</td>
      <td>{{ data.loadedOn | date : "dd-MM-yyyy" }}</td>
      <td>{{ data.loadedBy }}</td>
      <td>{{ data.status }}

<!--        <span class="iconStatus">-->
<!--                <ng-template #indicatorTemplate>-->
<!--                  <i nz-icon nzType="loading" class="iconStatus"></i></ng-template>-->
<!--                          <nz-spin nzSimple -->
<!--                                   *ngIf="data.statusUploadTemplate == 'created'"></nz-spin>-->
<!--  -->
                           <i nz-icon nzType="play-circle" nzTheme="outline" class="iconStatus done"
                              *ngIf="data.statusUploadTemplate == 'done'"></i>

                          <i nz-icon nzType="issues-close" nzTheme="outline"
                             (click)="showMsg(data.statusUploadTemplate)" class="iconStatus error"
                             *ngIf="data.statusUploadTemplate !== 'done'"></i>

<!--            </span>-->

      </td>
      <td>{{ data.reloadTmp }}
        <!--        <i (click)="reload(data.id)" style="cursor: pointer;font-size: 363%;color: #007090;"-->
        <!--                                  class="pi pi-cloud-upload"></i>-->

        <i nz-icon nzType="cloud-upload" (click)="reload(data.id)" style="cursor: pointer;font-size: 306%;color: #007090;"
           nzTheme="outline"></i>
      </td>
      <td>
<!--        <i (click)="download(data)" style="cursor: pointer;color: #007090;font-size: 245%;" nz-icon-->
<!--             nzType="cloud-download" nzTheme="outline"></i>-->

        <i (click)="download(data)"  style="cursor: pointer;color: #007090;font-size: 306%;"
           nz-icon nzType="cloud-download" nzTheme="outline"></i>

        {{ data.download }}</td>
      <td>
<!--        <button nz-button nzType="primary" [nzSize]="'small'"><i nz-icon nzType="eye"></i></button> &nbsp;-->
<!--        <button nz-button nzType="sucess" [nzSize]="'small'"><i nz-icon nzType="edit"></i></button> &nbsp;-->
        <button nz-button nzType="danger" (click)="deleteSurvey(data.id)" [nzSize]="'small'"><i nz-icon
                                                                                                nzType="delete"></i>
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Upload survey" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <!--  <nz-upload-->
  <!--    nzType="drag"-->
  <!--    [nzMultiple]="true"-->
  <!--    (nzChange)="handleChange($event)">-->
  <!--    nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"-->
<!--  <nz-upload [nzBeforeUpload]="fileChange" nzType="drag" [nzShowUploadList]="false">-->
<!--    <p class="ant-upload-drag-icon">-->
<!--      <i nz-icon nzType="inbox"></i>-->
<!--    </p>-->
<!--&lt;!&ndash;    <p class="ant-uplo&ndash;&gt;-->
<!--&lt;!&ndash;    ad-text">Click or drag file to this area to upload</p>&ndash;&gt;-->
<!--    <p class="ant-upload-hint">-->
<!--{{uploadMsg}}-->
<!--    </p>-->
<!--  </nz-upload>-->

  <nz-upload [nzBeforeUpload]="fileChange" [nzShowUploadList]="false">

    <button nz-button nzType="primary"  class="ml-1" nz-tooltip
            nzTooltipTitle="upload from Excel File"
    >
      <i nz-icon nzType="file-excel" nzTheme="outline"></i></button>
  </nz-upload>
</nz-modal>
