
<div *ngIf="!isFormCollapsed">
  <button nz-button (click)="toggleCollapse()" [nzType]="'primary'" class="ml-1" >Filter Data
  </button>
</div>

<form nz-form [formGroup]="validateForm" class="ant-advanced-search-form" *ngIf="isCollapse">
  <div nz-row>
    <div class="ml-2" nz-col [nzSpan]="5">
      <nz-form-label> ID Survey</nz-form-label>
    </div>
    <div class="ml-2" nz-col [nzSpan]="7">
      <nz-form-label>Submitted On</nz-form-label>
    </div>
    <div class="ml-2" nz-col [nzSpan]="5">
      <nz-form-label>Agent</nz-form-label>
    </div>
    <div class="ml-2" nz-col [nzSpan]="5">
      <nz-form-label>By</nz-form-label>
    </div>
  </div>
  <div nz-row>
    <div  class="ml-2" nz-col [nzSpan]="5">
      <input formControlName="surveyID" nz-input placeholder=""/>
    </div>
    <div  class="ml-2" nz-col [nzSpan]="7">
      <nz-range-picker style="width: 100%" formControlName="submittedOn" [nzFormat]="dateFormat"></nz-range-picker>
    </div>
    <div  class="ml-2" nz-col [nzSpan]="5">
      <input formControlName="agent" nz-input placeholder=""/>
    </div>
    <div  class="ml-2" nz-col  [nzSpan]="5">
      <nz-select style="width: 100%" formControlName="by" nzShowSearch nzAllowClear nzPlaceHolder="Select a person">
        <nz-option nzLabel="UNDERWRITER" nzValue="UNDERWRITER"></nz-option>
        <nz-option nzLabel="SYSTEM" nzValue="SYSTEM"></nz-option>
      </nz-select>
    </div>
  </div>

  <div nz-row>
    <div class="ml-2" nz-col [nzSpan]="8">
      <nz-form-label>Score</nz-form-label>
    </div>
    <div class="ml-4" nz-col [nzSpan]="6">
      <nz-form-label>Status</nz-form-label>
    </div>
  </div>
  <div nz-row>
    <div class="ml-2" nz-col [nzSpan]="8">
      <nz-input-number style="width: 50%;" formControlName="scoreMin" nzPrecisionMode="cut" nzPlaceHolder="From"></nz-input-number>
      <nz-input-number style="width: 50%;" formControlName="scoreMax" nzPrecisionMode="cut" nzPlaceHolder="To"></nz-input-number>
    </div>
    <div class="ml-4" nz-col [nzSpan]="6">
      <nz-select style="width: 100%" formControlName="statusSystem" nzShowSearch nzAllowClear nzPlaceHolder="Select a status">
        <nz-option nzLabel="ACCEPTED" nzValue="ACCEPTED"></nz-option>
        <nz-option nzLabel="DECLINED" nzValue="DECLINED"></nz-option>
        <nz-option nzLabel="REFERRAL" nzValue="REFERRAL"></nz-option>
        <nz-option nzLabel="NOT REQUESTED" nzValue="NOT REQUESTED"></nz-option>
      </nz-select>
    </div>
  </div>
  <br>



  <div nz-row>
    <div nz-col [nzSpan]="24" class="search-area">
      <button nz-button [nzType]="'primary'" (click)="searchData()">Search</button>
      <button nz-button (click)="resetForm()">Clear</button>
      <button nz-button (click)="resetForm();toggleCollapse()" class="ml-1"  >Close Filter</button>
      <!--      <a class="collapse" (click)="toggleCollapse()">-->
      <!--        Collapse-->
      <!--        <i nz-icon [nzType]="isCollapse ? 'down' : 'up'"></i>-->
      <!--      </a>-->
    </div>
  </div>
</form>
<br>


<!--  <nz-table #basicTable [nzData]="listOfData2">
    <thead>
    <tr>
      <th>Survey ID</th>
      <th>Submitted On</th>
      <th>Agent</th>
      <th>Score</th>
      <th>Status</th>
      <th>By</th>
      <th>Reason</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.surveyID }}</td>
      <td>{{ data.submitedOn }}</td>
      <td>{{ data.agent }}</td>
      <td>{{ data.score }}</td>
      <td>{{ data.status }}</td>
      <td>{{ data.by }}</td>
      <td>{{ data.reason }}</td>
      <td>
        <button nz-button nzType="primary" [nzSize]="'small'"><i nz-icon nzType="eye"></i></button>
      </td>
    </tr>
    </tbody>
  </nz-table>-->


<!--  Go -->
<nz-collapse>
  <nz-collapse-panel [nzHeader]="'Processed Survey in the last Y (Parameter) Years'" [nzActive]="true" [nzDisabled]="false">
    <p style="margin:0;">
      <p-table [value]="listOfData" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header">
          <tr>
            <th>Survey ID</th>
            <th>Submitted On</th>
            <th>Agent</th>
            <th>Score</th>
            <th>Discount Loading</th>
            <th>Final Price</th>
            <th>Pricing Rate FLEXA</th>
            <th>Pricing Rate NAT CAT</th>
            <th>Status</th>
            <th>By</th>
            <th>Decision</th>
            <th>Reason</th>
            <th>Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
          <tr>
            <td>{{ data.surveyID }}</td>
            <td>{{ data.dateCreate | date : "dd-MM-yyyy"}}</td>
            <td>{{ data.agent }}</td>
            <td>{{ data.qualityScore }}</td>
            <td>{{ data.discountLoading |  percent:'1.2'}}</td>
            <td>{{ data.finalPrice| number : '1.2-2'}}</td>
            <td>{{ data.pricingRateFLEXA |  number : '1.2'}}</td>
            <td>{{ data.pricingRateNATCAT |  number : '1.2'}}</td>
            <td>
              <!--              <i nz-icon nzType="play-circle" nzTheme="outline" class="iconStatus done"-->
              <!--                 *ngIf="data.decision.toLowerCase() == 'accepted'"></i>-->
              <i nz-icon nzType="check-circle" nzTheme="outline"
                 class="iconStatus referral" *ngIf="data.decision.toLowerCase() == 'referral'"></i>
              <!--              <i nz-icon nzType="issues-close" nzTheme="outline"-->
              <!--                 class="iconStatus error"-->
              <!--                 *ngIf="data.decision.toLowerCase() !== 'accepted'"></i>-->
              <i nz-icon nzType="check-circle" nzTheme="outline"
                 class="iconStatus done" *ngIf="data.decision.toLowerCase() == 'accepted'"></i>
              <!--              <i nz-icon nzType="issues-close" nzTheme="outline"-->
              <!--                 class="iconStatus error"-->
              <!--                 *ngIf="data.decision.toLowerCase() !== 'accepted'"></i>-->

              <i nz-icon nzType="close-circle" class="iconStatus error"
                 nzTheme="outline" *ngIf="data.decision.toLowerCase() == 'declined'"></i>

            </td>
            <td>{{ data.by }}</td>
            <td>{{ data.decision }}</td>
            <td>{{ data.referralReason }}</td>

            <td>
              <button nz-button nzType="sucess" [nzSize]="'small'"><i nz-icon
                                                                      nzType="edit"></i>
              </button> &nbsp;
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p>
  </nz-collapse-panel>
</nz-collapse>


<!-- END -->

<!--  <p-table [value]="listOfDataFake" [paginator]="true" [rows]="10">-->
<!--    <ng-template pTemplate="header">-->
<!--      <tr>-->
<!--        <th>Survey ID</th>-->
<!--        <th>Submitted On</th>-->
<!--        <th>Agent</th>-->
<!--        <th>Score</th>-->
<!--        <th>Status</th>-->
<!--        <th>By</th>-->
<!--        <th>Reason</th>-->
<!--        <th>Actions</th>-->
<!--      </tr>-->
<!--    </ng-template>-->
<!--    <ng-template pTemplate="body" let-data>-->
<!--      <tr>-->
<!--        <td>{{ data.surveyID }}</td>-->
<!--        <td>{{ data.submitedOn }}</td>-->
<!--        <td>{{ data.agent }}</td>-->
<!--        <td>{{ data.score }}</td>-->
<!--        <td>{{ data.status }}</td>-->
<!--        <td>{{ data.by }}</td>-->
<!--        <td>{{ data.reason }}</td>-->
<!--        <td>-->
<!--          <button nz-button nzType="primary" [nzSize]="'small'"><i nz-icon nzType="eye"></i></button>-->
<!--        </td>-->
<!--      </tr>-->
<!--    </ng-template>-->
<!--  </p-table>-->

